@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

.body{
    background-color: #FFFFFF;
    font-family: 'Sora', sans-serif;
    padding: 20px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.card{
    width: 350px;
    height: auto;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px #E5EAF0;
    overflow: hidden;
    padding: 14px;
}

.card-image{
    width: 100%;
    height: 200px;
    border-radius: 14px;
    object-fit: cover;
    margin-bottom: 12px;
}

.card-tag{
    display:inline-block;
    margin-bottom: 12px;
    padding: 4px 16px;
    background-color: #F2EAFD;
    color: #7C19EE;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
}

.card-title{
    margin: 0 0 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: #20293A;
}

.card-description{
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #394150;
}

.card-author{
    display: block;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #394150;
}

